<!DOCTYPE html>
{% extends "ChallengeApp/BaseTemplate.html" %}
  {% block basetemplate %}
  <div class="container-fluid">
    <h1>Below are the Gadget Details for the Recorded Individuals</h1>
    {% if user_details %}
    <table>
      <thead>
        <td>Name</td>
        <td>Gadget Type</td>
        <td>Brand Name</td>
        <td>Date Bought</td>
        <td>Store Name</td>
        <td>Price in <b>(Rs)</b></td>
      </thead>
      {% for data in user_details %}
        <tr>
          <td>{{ data.User }}</td>
          <td>{{ data.Type }}</td>
          <td>{{ data.Brand }}</td>
          <td>{{ data.Buy_Date }}</td>
          <td>{{ data.BoughtFrom }}</td>
          <td>{{ data.Price }}</td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
        <p>SORRY!!, THERE ARE NO USER DETAILS PRESENT AT THE MOMENT</p>
    {% endif %}
  </div>
  {% endblock %}
