<!DOCTYPE html>
{% extends "ChallengeApp/BaseTemplate.html" %}
{% load static %}
  {% block basetemplate %}
  <div class="container-fluid">
    <p>Hey This is my First Challenge App</p>.<br>
    <p>PRESS THE BUTTON TO SIGN IN</p>
    <a class="btn btn-primary" href="{% url 'challenge:signup' %}">SIGN UP</a>
    <p>PRESS THE BUTTON TO Check the Details</p>
    <a class="btn btn-primary" href="{% url 'challenge:details' %}">Details</a>
    <p>PRESS THE BUTTON TO Go to admin page</p>
    <a class="btn btn-primary" href="{% url 'admin:index' %}">Admin</a>
    <em>Take a look at the bike below, buddy!!</em>.<br>
    <img src="{% static 'ChallengeApp/images/Bike.jpg' %}" alt="OH!!, Sorry The Image could not be rendered.">
  </div>
  {% endblock %}
