<!DOCTYPE html>
{% extends "ChallengeApp/BaseTemplate.html" %}
  {% block basetemplate %}
  <div class="jumbotron">
    <h1>WELCOME TO THE LOGIN PAGE:-</h1>
      <form action="{% url 'challenge:login' %}" method="post">
        {% csrf_token %}
        
        <label for="username">Username</label>
        <input type="text" name='username' placeholder='Enter Username'>

        <label for="password">Password</label>
        <input type="password" name='password'>

        <input type="submit" class="btn btn-primary" value="Login">
      </form>
  </div>
  {% endblock %}