<!DOCTYPE html>
{% extends "ChallengeApp/BaseTemplate.html" %}
  {% block basetemplate %}
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you For Registering</h1>
      {% else %}
        <h1>WELCOME TO THE SIGN UP PAGE:-</h1>
        <form enctype="multipart/form-data" method="post">
          {{ user.as_p }}
          {{ userprofile.as_p }}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Sign up">
        </form>
      {% endif %}
    </div>
  {% endblock %}
